body {
    
}
#container {
    width: 100%;
    height: 100%;
}
.top {
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
}

.logo {
    width: 15%;
    height: 100%;
    background: url(https://cdn.discordapp.com/attachments/597623718881263616/1001985783269429348/Sin_titulo-1.png) no-repeat;
    margin-left: 50px;
    align-items: center;
    text-align: center;
}

.login {
    width: 150px;
    height: 45px;
    font-family: "Google Sans",Arial,sans-serif;
    margin-top: -75px;
    margin-left: 80%;
    background-color: #1a73e8;
    color: #fff;
    border-radius: 4px!important;
    font-family: "Google Sans",Arial,sans-serif;
    vertical-align: middle;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login:hover {
    cursor: pointer;
    background-color: #004db3;
}

.login2 {
    width: 150px;
    height: 45px;
    font-family: "Google Sans",Arial,sans-serif;
    background-color: #1a73e8;
    color: #fff;
    border-radius: 4px!important;
    font-family: "Google Sans",Arial,sans-serif;
    vertical-align: middle;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login2:hover {
    cursor: pointer;
    background-color: #004db3;
}

.title {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 30%;
    height: 50%;
    font: 700 48px "Google Sans",Arial,sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

